<div class="external-domains">
  <div class="external-domains-list">
    <% @form.vote_category_voting.each do |category| %>
      <%= fields_for "component[settings][vote_category_voting][]", category do |category_form| %>
      <%= render "decidim/budget_category_voting/admin/settings/category",
               form: category_form,
               id: category.id
      %>
      <% end %>
    <% end %>
  </div>
</div>