<div class="external-domains">
  <div class="external-domains-list">
    <% current_participatory_space.categories.each do |category| %>
      <%= fields_for "category_id[]", category do |category_form| %>
        <%= render "decidim/budget_category_voting/admin/settings/category",
                   form: category_form,
                   id: category.id %>
      <% end %>
    <% end %>
  </div>

  <button class="button small hollow add-external-domain"><%= t(".add") %></button>
</div>